.navbar-text:hover {
  transform: scale(1.03);
  text-decoration: underline;
  color: white;
}
.price-container {
  width: 100%;
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.price-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  &&:first-child {
    padding-left: 30px;
  }
  &&:last-child {
    padding-right: 30px;
    justify-content: end;
  }
}
.filter-container {
  width: 100%;
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.set-spec-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.set-spec-item {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0px 10px 0px 30px;
  border-left: 4px solid lightgray;
}
.set-spec-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.set-spec-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.set-spec-item .text-truncate {
  font-size: 16px;
  margin-left: 15px;
  margin-right: auto;
  color: black;
  font-weight: 500;
}
.set-spec-item span {
  font-size: 16px;
  font-weight: bold;
  color: orange;
}
.set-spec-item:hover {
  background: #f0f0f0;
}
.set-spec-item.active {
  border-left: 4px solid #0d6efd;
}
.products-container {
  width: 100%;
  height: 100vh;
  border: 1px solid lightgray;
  border-radius: 5px;
}
table {
  width: 100%;
}
